.chats .chats-list {
  border-top: 1px solid #f1f2f3;
  border-bottom: 1px solid #f1f2f3;
}
.chats-list .chats-chat {
  padding: 15px;
  border-bottom: 1px solid #f1f2f3;
}
.chats-chat:last-child {
  border: none;
}
.chats-chat .chats-content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.chats-list .chats-chat a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.chats-chat .chats-content {
  display: flex;
  align-items: flex-start;
}

.chats-preview .chats_user {
  font-weight: 600;
  margin-bottom: 5px;
}
.chats-last-message {
  color: #b4b4b4;
  font-size: 11px;
}
.chats-date-time {
  font-size: 10px;
  color: #b4b4b4;
}
.chats-btn {
  width: 60px;
  height: 60px;
  background-color: #ffe94e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 70px;
  font-size: 25px;
  color: #523737;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
